<% load_page_specific_javascripts('video_preview') %>

<%= form_for(@video, :role => "form") do |f| %>
  <% if @video.errors.any? %>
    <div id="error_explanation">
      <div class="alert alert-danger">
        <strong>Warning!</strong>
        The form contains <%= pluralize(@video.errors.count, "error") %>.
      </div>
      <ul class="list-group">
      <% @video.errors.full_messages.each do |msg| %>
        <li class="list-group-item"><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
    <div class="form-group col-xs-4">
      <%= f.label :category_id %>
      <%= f.select :category_id, options_for_select(@categories), {}, :class => "form-control" %>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-xs-4">
      <%= f.label :link %>
      <%= f.text_field :link, :class => "form-control", :placeholder => "Enter URL" %>
      <div class="selector-wrapper"></div>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-xs-4">
      <%= f.submit :class => "btn btn-default", :id => "link-submit" %>
    </div>
  </div>
<% end %>
