<%= form_for(@link, :role => "form") do |f| %>
  <% if @link.errors.any? %>
    <div id="error_explanation">
      <div class="alert alert-danger">
        <strong>Warning!</strong> 
        The form contains <%= pluralize(@link.errors.count, "error") %>.
      </div>
      <ul class="list-group">
      <% @link.errors.full_messages.each do |msg| %>
        <li class="list-group-item"><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
    <div class="form-group col-xs-4">
      <%= f.label :title %>
      <%= f.text_field :title, :class => "form-control", :placeholder => "Enter title" %>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-xs-4">
      <%= f.label :url %>
      <%= f.text_field :url, :class => "form-control", :placeholder => "Enter URL" %>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-xs-4">
      <%= f.submit :class => "btn btn-default" %>
    </div>
  </div>
<% end %>
